# -*- coding: utf-8 -*-
#--trusted-host mirrors.aliyun.com --index-url http://mirrors.aliyun.com/pypi/simple/
#--trusted-host https://repo.huaweicloud.com -i https://repo.huaweicloud.com/repository/pypi/simple
# --index-url https://pypi.tuna.tsinghua.edu.cn/simple
--trusted-host https://mirrors.tencent.com -i https://mirrors.tencent.com/pypi/simple

onnx==1.12.0 
onnxconverter_common==1.13.0
colorama==0.4.6
colorlog

numpy>=1.22
six
colorlog
# torch >=1.10,<2.0 # cpu版
# torch-1.13.1+cpu
https://download.pytorch.org/whl/cpu/torch-1.13.1%2Bcpu-cp310-cp310-linux_x86_64.whl
transformers >=4.18,<5.0
packaging
tqdm
sentencepiece
protobuf==3.19.0
onnxruntime # cpu版

# faster-tokenizer==0.2.0 # faster-tokenizer 已经废弃
fast-tokenizer-python==1.0.0

# paddlepaddle # paddlepaddle 是可选的
